﻿@model AccionDeMejora.DataBase.Evaluaciones

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Evaluaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaluadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaluadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exposicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exposicion.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ponente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ponente.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
